<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" href = "{{ url_for('static', filename='css/style.css')}}">
</head>
<body>

<div class="navbar">
  <a class="active" href="/"> Home</a> 
  <a href="gas"> Gas </a> 
  <a href="liquid"> Liquid </a> 
  <a href="solid"> Solid </a>
  <a href="plasma"> Plasma </a> 

</div>

<div class = "body">
  <div class = "container">
  <div style="text-align: center; padding-top: 10px;"><span><img src="static/images/home.png" width = "1000" height="500"/></span></div>
    <p style="font-size: 30px; padding: 0px 80px 0px 80px;color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In physics, a state of matter is one of the distinct forms in which matter can exist. Four states of matter are observable in everyday life: solid, liquid, gas, and plasma. Many intermediate states are known to exist, such as liquid crystal, and some states only exist under extreme conditions, such as Bose–Einstein condensates (in extreme cold), neutron-degenerate matter (in extreme density), and quark–gluon plasma (at extremely high energy). For a complete list of all exotic states of matter, see the list of states of matter. </p>
</div>

</body>
</html>