<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" href = "{{ url_for('static', filename='css/style.css')}}">
</head>
<body>

<div class="navbar">
  <a href="/"> Home</a> 
  <a href="gas"> Gas </a> 
  <a class="active" href="liquid"> Liquid </a> 
  <a href="solid"> Solid </a>
  <a href="plasma"> Plasma </a> 

</div>

<div class = "container">
  <h1 style="text-align: center;font-size: 50px;">Liquid</h1>
  <div style="text-align: center;"><span><img src="static/images/liquid.png" width = "1000" height="500"/></span></div>
  <p style="font-size: 30px; padding: 0px 80px 0px 80px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A liquid is a nearly incompressible fluid that conforms to the shape of its container but retains a (nearly) constant volume independent of pressure. As such, it is one of the four fundamental states of matter (the others being solid, gas, and plasma), and is the only state with a definite volume but no fixed shape.</p>
</div>

</body>
</html>