<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" href = "{{ url_for('static', filename='css/style.css')}}">

</head>
<body>

<div class="navbar">
  <a href="/"> Home</a> 
  <a href="gas"> Gas </a> 
  <a href="liquid"> Liquid </a> 
  <a href="solid"> Solid </a>
  <a class="active" href="plasma"> Plasma </a> 

</div>

<div class = "container">
  <h1 style="text-align: center;font-size: 50px;">Plasma</h1>
  <div style="text-align: center;"><span><img src="static/images/plasma.png" width = "1200" height="500"/></span></div>
  <p style="font-size: 30px; padding: 0px 80px 0px 80px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plasma is often called “the fourth state of matter,” along with solid, liquid and gas. Just as a liquid will boil, changing into a gas when energy is added, heating a gas will form a plasma – a soup of positively charged particles (ions) and negatively charged particles (electrons).</p>
</div>
</body>
</html>