<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" href = "{{ url_for('static', filename='css/style.css')}}">
</head>
<body>

<div class="navbar">
  <a href="/"> Home</a> 
  <a href="gas"> Gas </a> 
  <a href="liquid"> Liquid </a> 
  <a class="active" href="solid"> Solid </a>
  <a href="plasma"> Plasma </a> 

</div>

<div class = "container">
  <h1 style="text-align: center;font-size: 50px;">Solid</h1>
  <div style="text-align: center;"><span><img src="static/images/solid.png" width = "1000" height="500"/></span></div>
  <p style="font-size: 30px; padding: 0px 80px 0px 80px;">&nbsp;&nbsp;&nbsp;&nbsp;A solid is a state of matter that retains its shape and density when not confined.</p>
</div>

</body>
</html>